/* This part causes the circular online status */
@import url('https://discordstyles.github.io/RadialStatus/base.css');

:root {
    --rs-small-spacing: 2px;
    --rs-medium-spacing: 2px;
    --rs-large-spacing: 2px;
    --rs-small-width: 2px;
    --rs-medium-width: 2.5px;
    --rs-large-width: 2.5px;
    --rs-avatar-shape: 50%;
}

/* Horizontal Serverlist */ 
@import url('https://discordstyles.github.io/HorizontalServerList/base.css');

:root {
    --HSL-server-icon-size: 42px;
    --HSL-server-spacing: 11px;
}